<!DOCTYPE html>
<html>
<head>
  <title>LocomotiveContrib</title>
  <%= stylesheet_link_tag    "locomotive_contrib/application", :media => "all" %>
  <%= javascript_include_tag "locomotive_contrib/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
