- if can? :manage, @extension
  %fieldset.inputs
    %legend
      = content_tag :span, t('.extension')
    %ol
      = f.input :slug, :as => :select, :collection => extensions_collection(LocomotiveContrib.manager.extensions)
