- title t('.title')

- if can? :create, Locomotive::Extension
  - content_for :buttons do
    = local_action_button :new, new_extension_url, :class => 'new', :id => 'newextension'

- if @extensions.empty?
  %p.no-items!= t('.no_items', :url => new_extension_path)
- else
  %ul#entries-list.list
    = render @extensions
