- title link_to(@site.name.blank? ? @site.name_was : @site.name, '#', :rel => 'site_name', :title => t('.ask_for_name'), :class => 'editable')

- content_for :submenu do
  = render_cell 'locomotive/settings_menu', :show
