- title link_to(@site.name.blank? ? @site.name_was : @site.name, '#', :rel => 'site_name', :title => t('.ask_for_name'), :class => 'editable')

- if can? :create, LocomotiveContrib::Extension
  - content_for :buttons do
    = local_action_button :new, new_extension_url, :class => 'new', :id => 'newpage'

